node_modules/
**/node_modules/
**/dist/
**/build/
**/*.wasm
**/*.abi

**/Makefile
**/CMakeCache.txt
**/CMakeFiles/**
**/CMakeFiles
**/cmake_install.cmake
**/CMakeLists.txt

.idea/
node_modules/
build/
extensions/
migrations/
models/
services/
test/
utils/

package-lock.json
package.json
zeus-box.json
zeus-config.js
.babelrc
.env

contracts/eos/.placeholder
contracts/eos/eosio.token
contracts/eos/eosio.bios
contracts/eos/eosio.msig
contracts/eos/eosio.sudo
contracts/eos/eosio.system
contracts/eos/*-prefix/
contracts/eos/*consumer/
contracts/eos/*service/
contracts/eos/dappservices/*-rc.md
contracts/eos/dappservices/dappservices.cpp